<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyunbin.yuri.sbt0207">
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconfor"
        android:label="SBT"
        android:roundIcon="@drawable/iconfor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hyunbin.yuri.sbt0207.MainActivity"/>
        <activity android:name="com.hyunbin.yuri.sbt0207.NoQuestionsActivity" />
        <activity android:name="com.hyunbin.yuri.sbt0207.FeedbackActivity" />
        <activity android:name="com.hyunbin.yuri.sbt0207.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hyunbin.yuri.sbt0207.LastActivity" />

        <service android:name="com.hyunbin.yuri.sbt0207.Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>